<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{ file }}
<form action="/upload/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <tbody>
            <tr>
                <td>图片：</td>
                <td><input type="file" name="filename"></td>
            </tr>
            <tr>
                <td><input type="submit" value="提交"></td>
            </tr>
        </tbody>
    </table>
</form>
</body>
</html>